.box {
    margin-left: 5.4%;
    margin-right: 5.4%;
    margin-bottom: 60px;
}

.text {
    width: 100%;
    height: 111px;
    background-color: #222222;
    border-radius: 50px;
    text-align: center;
}

.text p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.input-data {
    display: flex;
}

.data {
    width: 670px;
}

.descr {
    width: 100%;
    height: 85px;
    background-color: #222222;
    border-radius: 50px;
    text-align: center;
    margin-right: 40px;
}

.descr p {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

.input {
    margin-top: 40px;
    width: 966px;
    margin-left: 40px;
}

input {
    width: 100%;
    height: 79px;
    border-color: white;
    border-radius: 50px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

button {
    display: block;
    border-radius: 50px;
    height: 68px;
    width: 342px;
    margin-left: auto;
    margin-right: auto;
}